/*
    font-family: 'Open Sans', sans-serif;

    font-family: 'Raleway', sans-serif;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
:root {
  --background-color: #f5f5f5;
  --text-color: #121212;
  --btn-bg: #e02c6d;
  --icon-color: #fb8200;
  --white-color: #fff;
  --white-color-dark: #787885;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 3rem;
  box-sizing: border-box;
}
